/* --font-primary: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-display: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-headline: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-monospace: "Menlo","Consolas","Monaco",monospace;
    --font-glitch: "ArchivoBlack","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-cursive: "Reenie Beanie","Comic Sans MS",cursive,sans-serif; */

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    max-width: 1540px;
}
.banner{
    background: url(Images/banner2.jpg);
    height: 625px;
    background-repeat: no-repeat;
    position:relative;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 20px 0px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 45%;
}
.nav-list a{
    text-decoration: none;
    color: white;
    font-style: inherit;
    letter-spacing: 1px;
}
.nav-list a:hover {
    text-decoration: underline;
}
ul{
    list-style: none;
}
.open-discord{
    font-size: 0.9rem;
    text-decoration: none;
    background-color: white;
    padding: 12px 15px;
    border-radius: 20px;
}
.banner-content{
    width: 50%;
    margin: 0px auto;
    text-align: center;
}
.banner-content p{
    color: white;
}
.main-text{
    font-family: blippo, fantasy ;
    font-size: 4rem;
    color: white;
    margin-top: 100px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
.words{
    margin-top:40px;
    font-size: 1.2rem;
    word-spacing: 3px;
    line-height: 32px;
}
.buttons{
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    width: 90%
}
.button{
    text-decoration: none;
    padding: 16px 32px;
    align-items: center;
    display: inline-flex;
}
#button1{
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: white;
    color: #23272a;
    margin-left: 15px;
}
#button2{
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: #23272a;
    color: white;
}
.last-text{
    text-align: center;
}
h3{
    font-size: 2rem;
    font: bold;
    margin-bottom: 0px;
}
.last-button{
    margin-top: 25px;
}
